@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Source+Sans+Pro&display=swap');

:root {
    --cortitulo: #000;
    --cortexto: #474747;
    --cortexto2: #4c585e;
    --corbg1: #fff;
    --corbg2: #EFF0F6;
    --corbg3: #aad6ff;
}

body{
    display: flex;
    margin: 0;
    background-color: var(--corbg2);
    flex-direction: column;
    scroll-behavior: smooth;
}

main {
    width: 100%;
    
}

header {
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: var(--corbg2);
    height: 100px;
}

img {
    display: flex;
    width: 100px;
    align-items: center;
    margin: 0 40px 0 40px;
}

header ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 40px 0 40px;
    
}

header ul li {
    display: flex;
    justify-content: space-between;
}

header ul li a {
    text-decoration: none;
    margin-left: 50px;
    font-size: 20px;
    color: var(--cortexto);
}

header ul li a:hover {
    text-decoration: none;
    margin-left: 50px;
    font-size: 20px;
    color: var(--cortexto2);
}

.hero {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 700px;
    padding-top: 100px;
}

.inicio {
    display: flex;
    flex-direction: column;
}

.block1 {
    display: flex;
    width: 1150px;
    height: auto;
    background-color: var(--corbg2);
    flex-direction: column;
    margin: 60px;
    justify-content: center;
}

.block1 h1 {
    display: flex;
    text-align: left;
    font-family: 'Dela Gothic One', cursive;
    margin-right: 200px;
    font-size: 40px;
    color: var(--cortitulo);
}

.block1 h3 {
    display: flex;
    font-family: 'Source Sans Pro', sans-serif;
    margin-right: 150px;
    font-size: 20px;
    color: var(--cortexto);
    max-height: 175px;
}

.block2 {
    display: flex;
    width: 770px;
    height: 700px;
    background-color: var(--corbg3);
    background-image: url("assets/kids.jpg");
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.about-us {
    display: flex;
    flex-direction: row;
    background-color: var(--corbg1);
    width: 100%;
    min-width: auto;
    height: auto;
    align-items: center;
}

.content-about {
    display: flex;
    width: 700px;
    min-width: auto;
    height: auto;
    background-color: var(--corbg2);
    margin: 80px auto;
    border-radius: 20px;
}

.quem-somos {

    margin: 50px;

}

.content-about h1 {
    font-family: 'Dela Gothic One', cursive;
    font-size: 40px;
    display: flex;
    justify-content: center;
    color: var(--cortitulo);
}

.imagens {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.imagens img {
    width: 100px;
    margin: 0 10px;
}

.fotos {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.max {
    width: 100px;
    height: 100px;
    margin: 0 10px;
    background-image: url("assets/max.jpg");
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 50%;
}

.isabel {
    width: 100px;
    height: 100px;
    margin: 0 10px;
    background-image: url("assets/isabel.jpg");
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 50%;
}

.emili {
    width: 100px;
    height: 100px;
    margin: 0 10px;
    background-image: url("assets/emili.jpg");
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 50%;
}

.olivia {
    width: 100px;
    height: 100px;
    margin: 0 10px;
    background-image: url("assets/olivia.jpg");
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 50%;
}

.gustavo {
    width: 100px;
    height: 100px;
    margin: 0 10px;
    background-image: url("assets/gustavo.jpg");
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 50%;
}

.content-about h3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    text-align: justify;
    color: var(--cortexto);
}

.produtos {
    display: flex;
    flex-direction: row;
    background-color: var(--corbg2);
    width: 100%;
    min-width: auto;
    height: auto;
    align-items: center;
}

.bomtchau {
    display: flex;
    width: 700px;
    min-width: auto;
    height: auto;
    background-color: var(--corbg1);
    margin: 80px auto;
    border-radius: 20px;
}

.textbox {
    margin: 50px;
}

.textbox h1 {
    font-family: 'Dela Gothic One', cursive;
    font-size: 40px;
    display: flex;
    justify-content: center;
    color: var(--cortitulo);
}

.textbox h3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    text-align: justify;
    color: var(--cortexto);
}

.img img {
    width: 400px;
    margin: 50px auto;
}

.precos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--corbg1);
    height: auto;
    width: auto;
}

.precos h1 {
    font-family: 'Dela Gothic One', cursive;
    font-size: 40px;
}

.precos h3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    text-align: justify;
    color: var(--cortexto);
    margin: 20px 40px;
}

.botao {
    width: 200px;
    height: 60px;
    background-color: var(--corbg1);
    margin: 0 0 30px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botao:hover {
    border: solid var(--cortexto) 1px;
}

.botao a {
    color: var(--cortexto);
    text-decoration: none;
    font-family: 'Dela Gothic One', cursive;
    font-size: 25px;
}

.planos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 350px;
    height: 720px;
    background-color: var(--corbg2);
    border-radius: 20px;
    margin: 50px 40px;
}

.circulo-img {
    display: flex;
    width: 175px;
    height: 175px;
    border-radius: 50%;
    background-color: var(--corbg1);
}

.contato {
    /*display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--corbg2);
    min-width: auto;
    height: auto;*/


    display: flex;
    flex-direction: row;
    background-color: var(--corbg2);
    width: 100%;
    min-width: auto;
    height: auto;
    align-items: center;

}

.contato h1 {
    font-family: 'Dela Gothic One', cursive;
    font-size: 40px;
    margin: 0;
    display: flex;
}

.contato-content {
    display: flex;
    width: 1100px;
    min-width: auto;
    height: auto;
    background-color: var(--corbg1);
    margin: 50px auto;
    border-radius: 20px;
}

.contato-itens {
    display: flex;
    flex-direction: row;
}

.imagem-contato {
    width: 550px;
    height: 720px;
    background-image: url("assets/contato.jpg");
    background-size: cover;
    background-position: 40% 50%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.links-contato {
    width: 550px;
    height: 720px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.links a {
    display: flex;
    width: 100px;
    height: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.links img {
    display: flex;
    width: 40%;
    height: 100%;
    margin: 20px 0;
}

@media (max-width:1190px) {
    .hero {
        flex-direction: column-reverse;
        height: auto;
    }

    .block1 {
        width: 100%;
        margin: 0;
    }

    .block1 h1 {
        margin: 0;
        text-align: left;
        margin: 40px 180px 0 80px;

    }

    .block1 h3 {
        margin: 0;
        text-align: justify;
        margin: 40px 80px;
    }

    .block2 {
        width: 100%;
        height: 500px;
        background-position: 60% 1%;
        background-size: cover;
    }

    .precos {
        flex-direction: column;
    }

}

@media (max-width:1140px) {
    .contato-itens {
        display: flex;
        flex-direction: column;
        background-color: var(--corbg2);
        width: 100%;
        min-width: auto;
        height: auto;
        align-items: center;
    
    }

    .imagem-contato {
        width: 550px;
        height: 720px;
        background-image: url("assets/contato.jpg");
        background-size: cover;
        background-position: 40% 50%;
        border-radius: 0;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .links-contato {
        width: 550px;
        height: 720px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: var(--corbg1);
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
}